openapi: 3.2.0
info:
  title: Banno Admin History API
  description: 'Back-office administration surface used by the Banno staff console

    itself.'
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: History
  description: Audit and activity history.
paths:
  /a/mobile/api/v0/institutions/{institutionId}/history:
    get:
      summary: List History Events
      operationId: listHistory
      tags:
      - History
      parameters:
      - $ref: '#/components/parameters/InstitutionId'
      - name: actor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Audit history.
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/HistoryEvent'
components:
  parameters:
    InstitutionId:
      name: institutionId
      in: path
      required: true
      description: UUID identifying the institution.
      schema:
        type: string
        format: uuid
  schemas:
    HistoryEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        actorId:
          type: string
          format: uuid
        actorType:
          type: string
          enum:
          - Consumer
          - Staff
          - System
        action:
          type: string
        targetId:
          type: string
        timestamp:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
