openapi: 3.2.0
info:
  title: Jack Henry Payments Remote Deposit Capture API
  description: 'Jack Henry Payments developer portal — described as "Everything you

    need to simplify and seamlessly make, take, and manage payments."

    Unifies ACH origination, wire / A2A payments, Bill Payments, Remote

    Deposit Capture (consumer + commercial), card acceptance, and

    peer-to-peer rails behind a single sandbox-equipped developer surface.

    The Payments Orchestrator routes across rails and supports virtual

    accounts.

    '
  version: v1
servers:
- url: https://api.payments.jackhenry.com
  description: Jack Henry Payments production
- url: https://api.payments.sandbox.jackhenry.com
  description: Jack Henry Payments sandbox
security:
- bearerAuth: []
tags:
- name: Remote Deposit Capture
  description: Consumer and commercial RDC.
paths:
  /payments/v1/rdc/deposits:
    post:
      summary: Submit Remote Deposit
      operationId: submitRemoteDeposit
      tags:
      - Remote Deposit Capture
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - accountNumber
              - amount
              - frontImage
              - backImage
              properties:
                accountNumber:
                  type: string
                amount:
                  type: number
                  format: double
                frontImage:
                  type: string
                  format: binary
                backImage:
                  type: string
                  format: binary
      responses:
        '201':
          description: RDC deposit accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RdcDeposit'
components:
  schemas:
    RdcDeposit:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - Pending
          - Accepted
          - Rejected
          - Held
        availableDate:
          type: string
          format: date
        amount:
          type: number
          format: double
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
