openapi: 3.2.0
info:
  title: Banno Authentication Framework Token API
  description: 'OAuth 2.0 and OpenID Connect surface that issues access tokens,

    identity tokens, and refresh tokens for the Banno Consumer API,

    Admin API, and Plugin Framework. Implements the permissions flow

    used to enforce scopes on protected endpoints. Per the documentation:

    "Protect user data using industry standard OAuth 2.0 and OpenID

    Connect to provide authenticated information in the form of secure

    access and identity tokens."

    '
  version: v0
servers:
- url: https://api.banno.com
  description: Banno production
tags:
- name: Token
  description: OAuth token exchange.
paths:
  /a/oidc/token:
    post:
      summary: Exchange Token
      operationId: exchangeToken
      tags:
      - Token
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - grant_type
              properties:
                grant_type:
                  type: string
                  enum:
                  - authorization_code
                  - refresh_token
                  - client_credentials
                code:
                  type: string
                redirect_uri:
                  type: string
                  format: uri
                client_id:
                  type: string
                client_secret:
                  type: string
                code_verifier:
                  type: string
                refresh_token:
                  type: string
                scope:
                  type: string
      responses:
        '200':
          description: Token response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
components:
  schemas:
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        id_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
        scope:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
