openapi: 3.0.3
info:
  title: Banno Admin Abilities Messages API
  description: 'Back-office administration surface used by the Banno staff console

    itself. Lets institutions look up abilities/feature flags, manage

    consumer/business users, configure plugin management, manage

    segments and ads, run reports, drive RDC, ACH, wires, Zelle, and

    high-risk actions, and administer OAuth/OpenID clients.


    Resource groups (documented at

    https://banno.github.io/open-api-docs/admin-api/api-reference/v0/):

    Abilities, Accounts, ACH, Alerts, Consumers, Contact Info,

    Documents, Forms, High-Risk Actions, History, Institution Offline

    Status, Marketing/Ads, Messages, OAuth and OpenID Connect, Plugin

    Management, Remote Deposit Capture, Reports, Routing Numbers,

    Segments, Transfer Settings, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Messages
  description: Two-way secure messaging with the institution.
paths:
  /a/consumer/api/v0/users/{userId}/messages:
    get:
      summary: List Messages
      operationId: listMessages
      tags:
      - Messages
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/messages.readonly
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Secure-message threads.
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
components:
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: ID of the desired user (UUID format).
      schema:
        type: string
        format: uuid
  schemas:
    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        subject:
          type: string
        body:
          type: string
        sentDate:
          type: string
          format: date-time
        read:
          type: boolean
        author:
          type: object
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              enum:
              - User
              - Institution
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
