openapi: 3.2.0
info:
  title: Jack Henry Payments ACH Origination API
  description: 'Jack Henry Payments developer portal — described as "Everything you

    need to simplify and seamlessly make, take, and manage payments."

    Unifies ACH origination, wire / A2A payments, Bill Payments, Remote

    Deposit Capture (consumer + commercial), card acceptance, and

    peer-to-peer rails behind a single sandbox-equipped developer surface.

    The Payments Orchestrator routes across rails and supports virtual

    accounts.

    '
  version: v1
servers:
- url: https://api.payments.jackhenry.com
  description: Jack Henry Payments production
- url: https://api.payments.sandbox.jackhenry.com
  description: Jack Henry Payments sandbox
security:
- bearerAuth: []
tags:
- name: ACH Origination
  description: ACH credit and debit origination.
paths:
  /payments/v1/ach/credits:
    post:
      summary: Originate ACH Credit
      operationId: originateAchCredit
      tags:
      - ACH Origination
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchCreditRequest'
      responses:
        '201':
          description: ACH credit accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchTransaction'
  /payments/v1/ach/debits:
    post:
      summary: Originate ACH Debit
      operationId: originateAchDebit
      tags:
      - ACH Origination
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchDebitRequest'
      responses:
        '201':
          description: ACH debit accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchTransaction'
components:
  schemas:
    AchTransaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - Submitted
          - Processing
          - Settled
          - Returned
          - Failed
        traceNumber:
          type: string
        effectiveDate:
          type: string
          format: date
        amount:
          type: number
          format: double
    AchDebitRequest:
      allOf:
      - $ref: '#/components/schemas/AchCreditRequest'
    AchCreditRequest:
      type: object
      required:
      - originatorAccountId
      - beneficiaryRoutingNumber
      - beneficiaryAccountNumber
      - amount
      - secCode
      properties:
        originatorAccountId:
          type: string
        beneficiaryRoutingNumber:
          type: string
          pattern: ^[0-9]{9}$
        beneficiaryAccountNumber:
          type: string
        beneficiaryName:
          type: string
        amount:
          type: number
          format: double
        secCode:
          type: string
          enum:
          - PPD
          - CCD
          - WEB
          - TEL
        effectiveDate:
          type: string
          format: date
        memo:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
