openapi: 3.0.3
info:
  title: Banno Admin Abilities Routing Numbers API
  description: 'Back-office administration surface used by the Banno staff console

    itself. Lets institutions look up abilities/feature flags, manage

    consumer/business users, configure plugin management, manage

    segments and ads, run reports, drive RDC, ACH, wires, Zelle, and

    high-risk actions, and administer OAuth/OpenID clients.


    Resource groups (documented at

    https://banno.github.io/open-api-docs/admin-api/api-reference/v0/):

    Abilities, Accounts, ACH, Alerts, Consumers, Contact Info,

    Documents, Forms, High-Risk Actions, History, Institution Offline

    Status, Marketing/Ads, Messages, OAuth and OpenID Connect, Plugin

    Management, Remote Deposit Capture, Reports, Routing Numbers,

    Segments, Transfer Settings, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Routing Numbers
  description: Routing number validation.
paths:
  /a/consumer/api/v0/routing-numbers/{routingNumber}:
    get:
      summary: Lookup Routing Number
      operationId: lookupRoutingNumber
      tags:
      - Routing Numbers
      parameters:
      - name: routingNumber
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]{9}$
      responses:
        '200':
          description: Routing-number metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingNumber'
components:
  schemas:
    RoutingNumber:
      type: object
      properties:
        routingNumber:
          type: string
        institutionName:
          type: string
        institutionAddress:
          type: string
        valid:
          type: boolean
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
