openapi: 3.0.3
info:
  title: Banno Admin Abilities ACH Origination API
  description: 'Back-office administration surface used by the Banno staff console

    itself. Lets institutions look up abilities/feature flags, manage

    consumer/business users, configure plugin management, manage

    segments and ads, run reports, drive RDC, ACH, wires, Zelle, and

    high-risk actions, and administer OAuth/OpenID clients.


    Resource groups (documented at

    https://banno.github.io/open-api-docs/admin-api/api-reference/v0/):

    Abilities, Accounts, ACH, Alerts, Consumers, Contact Info,

    Documents, Forms, High-Risk Actions, History, Institution Offline

    Status, Marketing/Ads, Messages, OAuth and OpenID Connect, Plugin

    Management, Remote Deposit Capture, Reports, Routing Numbers,

    Segments, Transfer Settings, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: ACH Origination
  description: ACH credit and debit origination.
paths:
  /payments/v1/ach/credits:
    post:
      summary: Originate ACH Credit
      operationId: originateAchCredit
      tags:
      - ACH Origination
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchCreditRequest'
      responses:
        '201':
          description: ACH credit accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchTransaction'
  /payments/v1/ach/debits:
    post:
      summary: Originate ACH Debit
      operationId: originateAchDebit
      tags:
      - ACH Origination
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchDebitRequest'
      responses:
        '201':
          description: ACH debit accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchTransaction'
components:
  schemas:
    AchDebitRequest:
      allOf:
      - $ref: '#/components/schemas/AchCreditRequest'
    AchCreditRequest:
      type: object
      required:
      - originatorAccountId
      - beneficiaryRoutingNumber
      - beneficiaryAccountNumber
      - amount
      - secCode
      properties:
        originatorAccountId:
          type: string
        beneficiaryRoutingNumber:
          type: string
          pattern: ^[0-9]{9}$
        beneficiaryAccountNumber:
          type: string
        beneficiaryName:
          type: string
        amount:
          type: number
          format: double
        secCode:
          type: string
          enum:
          - PPD
          - CCD
          - WEB
          - TEL
        effectiveDate:
          type: string
          format: date
        memo:
          type: string
    AchTransaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - Submitted
          - Processing
          - Settled
          - Returned
          - Failed
        traceNumber:
          type: string
        effectiveDate:
          type: string
          format: date
        amount:
          type: number
          format: double
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
