openapi: 3.2.0
info:
  title: Banno Consumer User API
  description: 'Build apps and services using the same Consumer API that powers Banno

    Mobile and Online.'
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
    url: https://www.jackhenry.com/legal/terms-of-use
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: User
  description: Profile and identity of the authenticated user.
paths:
  /a/consumer/api/v0/users/{userId}:
    get:
      summary: Get User Profile
      operationId: getUser
      tags:
      - User
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/user.profile.readonly
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        loginName:
          type: string
        institutionId:
          type: string
          format: uuid
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: ID of the desired user (UUID format).
      schema:
        type: string
        format: uuid
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
