openapi: 3.0.3
info:
  title: Banno Admin Abilities Loan Accounts API
  description: 'Back-office administration surface used by the Banno staff console

    itself. Lets institutions look up abilities/feature flags, manage

    consumer/business users, configure plugin management, manage

    segments and ads, run reports, drive RDC, ACH, wires, Zelle, and

    high-risk actions, and administer OAuth/OpenID clients.


    Resource groups (documented at

    https://banno.github.io/open-api-docs/admin-api/api-reference/v0/):

    Abilities, Accounts, ACH, Alerts, Consumers, Contact Info,

    Documents, Forms, High-Risk Actions, History, Institution Offline

    Status, Marketing/Ads, Messages, OAuth and OpenID Connect, Plugin

    Management, Remote Deposit Capture, Reports, Routing Numbers,

    Segments, Transfer Settings, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Loan Accounts
  description: Consumer and commercial loans.
paths:
  /jxchange/v1/loan-accounts/{accountNumber}:
    get:
      summary: Get Loan Account
      operationId: getLoanAccount
      tags:
      - Loan Accounts
      parameters:
      - name: accountNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Loan-account record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanAccount'
components:
  schemas:
    LoanAccount:
      type: object
      properties:
        accountNumber:
          type: string
        product:
          type: string
        loanType:
          type: string
          enum:
          - Mortgage
          - HELOC
          - Auto
          - Consumer
          - Commercial
          - SBA
        status:
          type: string
          enum:
          - Current
          - PastDue
          - ChargedOff
          - PaidOff
        originalAmount:
          type: number
          format: double
        currentBalance:
          type: number
          format: double
        interestRate:
          type: number
          format: double
        nextPaymentAmount:
          type: number
          format: double
        nextPaymentDate:
          type: string
          format: date
        maturityDate:
          type: string
          format: date
        primaryOwnerCustomerId:
          type: string
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
