openapi: 3.2.0
info:
  title: Jack Henry Payments Bill Payments API
  description: 'Jack Henry Payments developer portal — described as "Everything you

    need to simplify and seamlessly make, take, and manage payments."

    Unifies ACH origination, wire / A2A payments, Bill Payments, Remote

    Deposit Capture (consumer + commercial), card acceptance, and

    peer-to-peer rails behind a single sandbox-equipped developer surface.

    The Payments Orchestrator routes across rails and supports virtual

    accounts.

    '
  version: v1
servers:
- url: https://api.payments.jackhenry.com
  description: Jack Henry Payments production
- url: https://api.payments.sandbox.jackhenry.com
  description: Jack Henry Payments sandbox
security:
- bearerAuth: []
tags:
- name: Bill Payments
  description: Consumer and small-business bill pay.
paths:
  /payments/v1/bill-pay/payments:
    post:
      summary: Submit Bill Payment
      operationId: submitBillPayment
      tags:
      - Bill Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillPaymentRequest'
      responses:
        '201':
          description: Bill payment scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPayment'
components:
  schemas:
    BillPayment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        deliveryMethod:
          type: string
          enum:
          - Electronic
          - Check
        estimatedDeliveryDate:
          type: string
          format: date
        status:
          type: string
          enum:
          - Scheduled
          - Processing
          - Delivered
          - Failed
          - Cancelled
    BillPaymentRequest:
      type: object
      required:
      - payerAccountId
      - payeeId
      - amount
      - dueDate
      properties:
        payerAccountId:
          type: string
        payeeId:
          type: string
        amount:
          type: number
          format: double
        dueDate:
          type: string
          format: date
        memo:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
