openapi: 3.2.0
info:
  title: Banno Consumer Institutions API
  description: 'Build apps and services using the same Consumer API that powers Banno

    Mobile and Online.'
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
    url: https://www.jackhenry.com/legal/terms-of-use
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Institutions
  description: Public institution profile lookup.
paths:
  /a/consumer/api/v0/institutions/{institutionId}:
    get:
      summary: Get Institution
      operationId: getInstitution
      tags:
      - Institutions
      parameters:
      - name: institutionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Institution profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
components:
  schemas:
    Institution:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        routingNumber:
          type: string
        primaryWebsiteUrl:
          type: string
          format: uri
        logoUrl:
          type: string
          format: uri
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
