openapi: 3.2.0
info:
  title: jXchange REST General Ledger API
  description: 'jXchange is Jack Henry''s information-translation surface that brokers

    requests between third-party applications and the SilverLake or

    CIF 20/20 community-bank cores. The REST variant exposes deposits,

    loans, customers, accounts, transactions, and general-ledger domains.

    A SOAP variant is also published at jackhenry.dev/jxchange-soap/.

    '
  version: '2024'
servers:
- url: https://jxchange.jackhenry.com
  description: jXchange production gateway
security:
- bearerAuth: []
tags:
- name: General Ledger
  description: GL account inquiry.
paths:
  /jxchange/v1/general-ledger/{glAccountNumber}:
    get:
      summary: Get GL Account
      operationId: getGlAccount
      tags:
      - General Ledger
      parameters:
      - name: glAccountNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: General-ledger account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GLAccount'
components:
  schemas:
    GLAccount:
      type: object
      properties:
        glAccountNumber:
          type: string
        name:
          type: string
        balance:
          type: number
          format: double
        accountClass:
          type: string
          enum:
          - Asset
          - Liability
          - Equity
          - Income
          - Expense
        branch:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
