openapi: 3.2.0
info:
  title: Banno Consumer Zelle API
  description: 'Build apps and services using the same Consumer API that powers Banno

    Mobile and Online. OAuth 2.0 / OpenID Connect protects every endpoint;

    scopes are enforced per resource (e.g. `user.profile.readonly`,

    `transactions.detail.readonly`). All endpoints are scoped under

    `/a/consumer/api/v0` and operate within the context of a `userId`.


    Resource groups documented at

    https://banno.github.io/open-api-docs/consumer-api/api-reference/v0/

    include: Abilities, Account Aggregation, Accounts, ACH, Alerts,

    Bill Pay, Cards, Documents and Statements, Forms, Institutions,

    Messages, OAuth and OpenID Connect, Positive Pay, Routing Numbers,

    Task Events, Transactions, Transfers, User, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
    url: https://www.jackhenry.com/legal/terms-of-use
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Zelle
  description: Zelle peer-to-peer payments.
paths:
  /a/consumer/api/v0/users/{userId}/zelle/payments:
    post:
      summary: Send Zelle Payment
      operationId: sendZellePayment
      tags:
      - Zelle
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/zelle.write
      parameters:
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZellePaymentRequest'
      responses:
        '201':
          description: Zelle payment submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZellePayment'
components:
  schemas:
    ZellePaymentRequest:
      type: object
      required:
      - fromAccountId
      - recipientToken
      - amount
      properties:
        fromAccountId:
          type: string
          format: uuid
        recipientToken:
          type: string
          description: Email or phone number
        amount:
          type: number
        memo:
          type: string
    ZellePayment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fromAccountId:
          type: string
          format: uuid
        recipientToken:
          type: string
        amount:
          type: number
        memo:
          type: string
        status:
          type: string
          enum:
          - Pending
          - Sent
          - Delivered
          - Failed
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: ID of the desired user (UUID format).
      schema:
        type: string
        format: uuid
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
