openapi: 3.2.0
info:
  title: Banno Consumer Routing Numbers API
  description: 'Build apps and services using the same Consumer API that powers Banno

    Mobile and Online. OAuth 2.0 / OpenID Connect protects every endpoint;

    scopes are enforced per resource (e.g. `user.profile.readonly`,

    `transactions.detail.readonly`). All endpoints are scoped under

    `/a/consumer/api/v0` and operate within the context of a `userId`.


    Resource groups documented at

    https://banno.github.io/open-api-docs/consumer-api/api-reference/v0/

    include: Abilities, Account Aggregation, Accounts, ACH, Alerts,

    Bill Pay, Cards, Documents and Statements, Forms, Institutions,

    Messages, OAuth and OpenID Connect, Positive Pay, Routing Numbers,

    Task Events, Transactions, Transfers, User, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
    url: https://www.jackhenry.com/legal/terms-of-use
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Routing Numbers
  description: Routing number validation.
paths:
  /a/consumer/api/v0/routing-numbers/{routingNumber}:
    get:
      summary: Lookup Routing Number
      operationId: lookupRoutingNumber
      tags:
      - Routing Numbers
      parameters:
      - name: routingNumber
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]{9}$
      responses:
        '200':
          description: Routing-number metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingNumber'
components:
  schemas:
    RoutingNumber:
      type: object
      properties:
        routingNumber:
          type: string
        institutionName:
          type: string
        institutionAddress:
          type: string
        valid:
          type: boolean
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
