openapi: 3.2.0
info:
  title: Jack Henry Cards API
  version: '1.0'
  description: 'Operations tagged Cards across 2 of this provider''s published API definitions: banno-consumer-api-openapi.yml, jack-henry-payments-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.banno.com
  description: Banno production
- url: https://api.payments.jackhenry.com
  description: Jack Henry Payments production
- url: https://api.payments.sandbox.jackhenry.com
  description: Jack Henry Payments sandbox
tags:
- name: Cards
  description: Debit and credit card management.
paths:
  /a/consumer/api/v0/users/{userId}/cards:
    get:
      summary: List Cards
      operationId: listCards
      tags:
      - Cards
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/cards.readonly
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Cards linked to the user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    type: array
                    items:
                      $ref: '#/components/schemas/Card'
    servers:
    - url: https://api.banno.com
      description: Banno production
  /payments/v1/cards/authorizations:
    post:
      summary: Authorize Card Payment
      operationId: authorizeCard
      tags:
      - Cards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardAuthRequest'
      responses:
        '201':
          description: Card authorization result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardAuthResult'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.payments.jackhenry.com
      description: Jack Henry Payments production
    - url: https://api.payments.sandbox.jackhenry.com
      description: Jack Henry Payments sandbox
components:
  schemas:
    Card:
      type: object
      properties:
        id:
          type: string
          format: uuid
        last4:
          type: string
        cardType:
          type: string
          enum:
          - Debit
          - Credit
        status:
          type: string
          enum:
          - Active
          - Locked
          - Lost
          - Stolen
          - Expired
        expirationDate:
          type: string
          pattern: ^[0-9]{2}/[0-9]{2}$
        nameOnCard:
          type: string
    CardAuthRequest:
      type: object
      required:
      - cardToken
      - amount
      - merchantId
      properties:
        cardToken:
          type: string
        amount:
          type: number
          format: double
        currency:
          type: string
          default: USD
        merchantId:
          type: string
        cvvProvided:
          type: boolean
    CardAuthResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        approved:
          type: boolean
        responseCode:
          type: string
        authCode:
          type: string
        networkReference:
          type: string
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: ID of the desired user (UUID format).
      schema:
        type: string
        format: uuid
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- banno-consumer-api-openapi.yml
- jack-henry-payments-openapi.yml
