openapi: 3.2.0
info:
  title: Banno Authentication Framework Authorization API
  description: 'OAuth 2.0 and OpenID Connect surface that issues access tokens,

    identity tokens, and refresh tokens for the Banno Consumer API,

    Admin API, and Plugin Framework. Implements the permissions flow

    used to enforce scopes on protected endpoints. Per the documentation:

    "Protect user data using industry standard OAuth 2.0 and OpenID

    Connect to provide authenticated information in the form of secure

    access and identity tokens."

    '
  version: v0
servers:
- url: https://api.banno.com
  description: Banno production
tags:
- name: Authorization
  description: OAuth authorization endpoint.
paths:
  /a/oidc/authorize:
    get:
      summary: Authorize OAuth Request
      operationId: authorize
      tags:
      - Authorization
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
      - name: response_type
        in: query
        required: true
        schema:
          type: string
          example: code
      - name: redirect_uri
        in: query
        required: true
        schema:
          type: string
          format: uri
      - name: scope
        in: query
        required: true
        schema:
          type: string
          example: openid profile https://api.banno.com/consumer/auth/accounts.readonly
      - name: state
        in: query
        schema:
          type: string
      - name: code_challenge
        in: query
        schema:
          type: string
      - name: code_challenge_method
        in: query
        schema:
          type: string
          example: S256
      responses:
        '302':
          description: Redirect to the registered redirect URI with a code or error.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
