openapi: 3.2.0
info:
  title: Banno Consumer Messages API
  description: 'Build apps and services using the same Consumer API that powers Banno

    Mobile and Online.'
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
    url: https://www.jackhenry.com/legal/terms-of-use
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Messages
  description: Two-way secure messaging with the institution.
paths:
  /a/consumer/api/v0/users/{userId}/messages:
    get:
      summary: List Messages
      operationId: listMessages
      tags:
      - Messages
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/messages.readonly
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Secure-message threads.
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
components:
  schemas:
    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        subject:
          type: string
        body:
          type: string
        sentDate:
          type: string
          format: date-time
        read:
          type: boolean
        author:
          type: object
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              enum:
              - User
              - Institution
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: ID of the desired user (UUID format).
      schema:
        type: string
        format: uuid
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
