openapi: 3.2.0
info:
  title: Banno Admin Reports API
  description: 'Back-office administration surface used by the Banno staff console

    itself.'
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Reports
  description: Operational and audit reports.
paths:
  /a/mobile/api/v0/institutions/{institutionId}/reports:
    get:
      summary: List Reports
      operationId: listReports
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/InstitutionId'
      responses:
        '200':
          description: Available reports.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/Report'
components:
  parameters:
    InstitutionId:
      name: institutionId
      in: path
      required: true
      description: UUID identifying the institution.
      schema:
        type: string
        format: uuid
  schemas:
    Report:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
        url:
          type: string
          format: uri
        generatedDate:
          type: string
          format: date-time
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
