openapi: 3.2.0
info:
  title: jXchange REST Deposit Accounts API
  description: 'jXchange is Jack Henry''s information-translation surface that brokers

    requests between third-party applications and the SilverLake or

    CIF 20/20 community-bank cores. The REST variant exposes deposits,

    loans, customers, accounts, transactions, and general-ledger domains.

    A SOAP variant is also published at jackhenry.dev/jxchange-soap/.

    '
  version: '2024'
servers:
- url: https://jxchange.jackhenry.com
  description: jXchange production gateway
security:
- bearerAuth: []
tags:
- name: Deposit Accounts
  description: DDA/savings/CD deposit accounts.
paths:
  /jxchange/v1/deposit-accounts/{accountNumber}:
    get:
      summary: Get Deposit Account
      operationId: getDepositAccount
      tags:
      - Deposit Accounts
      parameters:
      - name: accountNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deposit-account record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositAccount'
components:
  schemas:
    DepositAccount:
      type: object
      properties:
        accountNumber:
          type: string
        product:
          type: string
        productType:
          type: string
          enum:
          - Checking
          - Savings
          - MoneyMarket
          - CD
        status:
          type: string
          enum:
          - Open
          - Closed
          - Dormant
          - Frozen
        currentBalance:
          type: number
          format: double
        availableBalance:
          type: number
          format: double
        interestYTD:
          type: number
          format: double
        openDate:
          type: string
          format: date
        primaryOwnerCustomerId:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
