openapi: 3.2.0
info:
  title: Banno Consumer Accounts API
  description: 'Build apps and services using the same Consumer API that powers Banno

    Mobile and Online. OAuth 2.0 / OpenID Connect protects every endpoint;

    scopes are enforced per resource (e.g. `user.profile.readonly`,

    `transactions.detail.readonly`). All endpoints are scoped under

    `/a/consumer/api/v0` and operate within the context of a `userId`.


    Resource groups documented at

    https://banno.github.io/open-api-docs/consumer-api/api-reference/v0/

    include: Abilities, Account Aggregation, Accounts, ACH, Alerts,

    Bill Pay, Cards, Documents and Statements, Forms, Institutions,

    Messages, OAuth and OpenID Connect, Positive Pay, Routing Numbers,

    Task Events, Transactions, Transfers, User, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
    url: https://www.jackhenry.com/legal/terms-of-use
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Accounts
  description: Deposit, loan, line-of-credit, and investment accounts.
paths:
  /a/consumer/api/v0/users/{userId}/accounts:
    get:
      summary: List Accounts
      operationId: listAccounts
      tags:
      - Accounts
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/accounts.readonly
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: All accounts the user owns or has access to.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
  /a/consumer/api/v0/users/{userId}/accounts/{accountId}:
    get:
      summary: Get Account Details
      operationId: getAccount
      tags:
      - Accounts
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/accounts.detail.readonly
      parameters:
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Account detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
components:
  parameters:
    AccountId:
      name: accountId
      in: path
      required: true
      description: ID of the desired account (UUID format).
      schema:
        type: string
        format: uuid
    UserId:
      name: userId
      in: path
      required: true
      description: ID of the desired user (UUID format).
      schema:
        type: string
        format: uuid
  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        numbers:
          type: object
          properties:
            masked:
              type: string
        accountType:
          type: string
          enum:
          - Deposit
          - Debt
          - LineOfCredit
          - Investment
        accountStatus:
          type: string
          enum:
          - Active
          - Closed
          - Dormant
          - Frozen
        balance:
          type: number
          format: double
        availableBalance:
          type: number
          format: double
        fetchedDate:
          type: string
          format: date-time
        institution:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        canCreatePayments:
          type: boolean
        canTransferFrom:
          type: boolean
        hidden:
          type: boolean
        regD:
          type: object
          properties:
            limit:
              type: integer
            used:
              type: integer
        formattedMetaData:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              value:
                type: string
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
