openapi: 3.2.0
info:
  title: Banno Authentication Framework User Info API
  description: 'OAuth 2.0 and OpenID Connect surface that issues access tokens,

    identity tokens, and refresh tokens for the Banno Consumer API,

    Admin API, and Plugin Framework. Implements the permissions flow

    used to enforce scopes on protected endpoints. Per the documentation:

    "Protect user data using industry standard OAuth 2.0 and OpenID

    Connect to provide authenticated information in the form of secure

    access and identity tokens."

    '
  version: v0
servers:
- url: https://api.banno.com
  description: Banno production
tags:
- name: UserInfo
  description: OpenID Connect UserInfo endpoint.
paths:
  /a/oidc/userinfo:
    get:
      summary: Get UserInfo
      operationId: getUserInfo
      tags:
      - UserInfo
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Claims about the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
components:
  schemas:
    UserInfo:
      type: object
      properties:
        sub:
          type: string
        name:
          type: string
        given_name:
          type: string
        family_name:
          type: string
        email:
          type: string
          format: email
        email_verified:
          type: boolean
        institution_id:
          type: string
          format: uuid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
