openapi: 3.0.3
info:
  title: Banno Admin Abilities Peer To Peer API
  description: 'Back-office administration surface used by the Banno staff console

    itself. Lets institutions look up abilities/feature flags, manage

    consumer/business users, configure plugin management, manage

    segments and ads, run reports, drive RDC, ACH, wires, Zelle, and

    high-risk actions, and administer OAuth/OpenID clients.


    Resource groups (documented at

    https://banno.github.io/open-api-docs/admin-api/api-reference/v0/):

    Abilities, Accounts, ACH, Alerts, Consumers, Contact Info,

    Documents, Forms, High-Risk Actions, History, Institution Offline

    Status, Marketing/Ads, Messages, OAuth and OpenID Connect, Plugin

    Management, Remote Deposit Capture, Reports, Routing Numbers,

    Segments, Transfer Settings, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Peer To Peer
  description: P2P transfers via partner networks.
paths:
  /payments/v1/p2p/transfers:
    post:
      summary: Send Peer To Peer Transfer
      operationId: sendP2P
      tags:
      - Peer To Peer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2PRequest'
      responses:
        '201':
          description: P2P transfer submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2PTransfer'
components:
  schemas:
    P2PRequest:
      type: object
      required:
      - senderAccountId
      - recipientToken
      - amount
      properties:
        senderAccountId:
          type: string
        recipientToken:
          type: string
          description: Email or phone number
        amount:
          type: number
          format: double
        network:
          type: string
          enum:
          - Zelle
          - RTP
        memo:
          type: string
    P2PTransfer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - Pending
          - Sent
          - Delivered
          - Failed
        network:
          type: string
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
