openapi: 3.2.0
info:
  title: Banno Admin Marketing Ads API
  description: 'Back-office administration surface used by the Banno staff console

    itself.'
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Marketing Ads
  description: Configure marketing/ad cards in the dashboard.
paths:
  /a/mobile/api/v0/institutions/{institutionId}/ads:
    get:
      summary: List Marketing Ads
      operationId: listAds
      tags:
      - Marketing Ads
      parameters:
      - $ref: '#/components/parameters/InstitutionId'
      responses:
        '200':
          description: Configured ads.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ads:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ad'
    post:
      summary: Create Marketing Ad
      operationId: createAd
      tags:
      - Marketing Ads
      parameters:
      - $ref: '#/components/parameters/InstitutionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdRequest'
      responses:
        '201':
          description: Ad created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'
components:
  schemas:
    Ad:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        body:
          type: string
        imageUrl:
          type: string
          format: uri
        targetUrl:
          type: string
          format: uri
        segmentIds:
          type: array
          items:
            type: string
            format: uuid
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        active:
          type: boolean
    AdRequest:
      type: object
      required:
      - title
      - body
      properties:
        title:
          type: string
        body:
          type: string
        imageUrl:
          type: string
          format: uri
        targetUrl:
          type: string
          format: uri
        segmentIds:
          type: array
          items:
            type: string
            format: uuid
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
  parameters:
    InstitutionId:
      name: institutionId
      in: path
      required: true
      description: UUID identifying the institution.
      schema:
        type: string
        format: uuid
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
