openapi: 3.2.0
info:
  title: Banno Admin High Risk Actions API
  description: 'Back-office administration surface used by the Banno staff console

    itself.'
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: High Risk Actions
  description: Sensitive operations requiring elevated authorization.
paths:
  /a/mobile/api/v0/institutions/{institutionId}/high-risk-actions:
    get:
      summary: List High Risk Actions
      operationId: listHighRiskActions
      tags:
      - High Risk Actions
      parameters:
      - $ref: '#/components/parameters/InstitutionId'
      responses:
        '200':
          description: High-risk action events for review.
          content:
            application/json:
              schema:
                type: object
                properties:
                  actions:
                    type: array
                    items:
                      $ref: '#/components/schemas/HighRiskAction'
components:
  parameters:
    InstitutionId:
      name: institutionId
      in: path
      required: true
      description: UUID identifying the institution.
      schema:
        type: string
        format: uuid
  schemas:
    HighRiskAction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        actionType:
          type: string
        consumerId:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - Pending
          - Approved
          - Denied
          - Expired
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
