openapi: 3.2.0
info:
  title: Jack Henry Transactions API
  version: '1.0'
  description: 'Operations tagged Transactions across 2 of this provider''s published API definitions: banno-consumer-api-openapi.yml, jxchange-rest-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.banno.com
  description: Banno production
- url: https://jxchange.jackhenry.com
  description: jXchange production gateway
tags:
- name: Transactions
  description: Posted and pending transactions per account.
paths:
  /a/consumer/api/v0/users/{userId}/accounts/{accountId}/transactions:
    get:
      summary: List Account Transactions
      operationId: listTransactions
      tags:
      - Transactions
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/transactions.readonly
      parameters:
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/AccountId'
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Paged list of transactions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
                  nextCursor:
                    type:
                    - string
                    - 'null'
    servers:
    - url: https://api.banno.com
      description: Banno production
  /a/consumer/api/v0/users/{userId}/accounts/{accountId}/transactions/{transactionId}:
    get:
      summary: Get Transaction Details
      operationId: getTransaction
      tags:
      - Transactions
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/transactions.detail.readonly
      parameters:
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/AccountId'
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Transaction detail. Returns a user's account's transaction in greater detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
    servers:
    - url: https://api.banno.com
      description: Banno production
  /jxchange/v1/accounts/{accountNumber}/transactions:
    get:
      summary: List Account Transactions
      operationId: listAccountTransactions
      tags:
      - Transactions
      parameters:
      - name: accountNumber
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Transactions for the account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoreTransaction'
      security:
      - bearerAuth: []
    servers:
    - url: https://jxchange.jackhenry.com
      description: jXchange production gateway
components:
  parameters:
    AccountId:
      name: accountId
      in: path
      required: true
      description: ID of the desired account (UUID format).
      schema:
        type: string
        format: uuid
    UserId:
      name: userId
      in: path
      required: true
      description: ID of the desired user (UUID format).
      schema:
        type: string
        format: uuid
  schemas:
    Transaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        date:
          type: string
          format: date
        postedDate:
          type: string
          format: date
        type:
          type: string
          enum:
          - Debit
          - Credit
          - Fee
          - Interest
          - Transfer
        status:
          type: string
          enum:
          - Posted
          - Pending
        description:
          type: string
        memo:
          type: string
        merchant:
          type: object
          properties:
            name:
              type: string
            category:
              type: string
            logo:
              type: string
              format: uri
        runningBalance:
          type: number
          format: double
        tags:
          type: array
          items:
            type: string
        pending:
          type: boolean
        notes:
          type: string
        enrichments:
          type: object
          additionalProperties: true
    CoreTransaction:
      type: object
      properties:
        transactionId:
          type: string
        postDate:
          type: string
          format: date
        effectiveDate:
          type: string
          format: date
        amount:
          type: number
          format: double
        type:
          type: string
          enum:
          - Debit
          - Credit
          - Fee
          - Interest
          - Adjustment
        description:
          type: string
        memo:
          type: string
        runningBalance:
          type: number
          format: double
        sourceCode:
          type: string
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- banno-consumer-api-openapi.yml
- jxchange-rest-openapi.yml
