openapi: 3.2.0
info:
  title: Banno Authentication Framework Discovery API
  description: 'OAuth 2.0 and OpenID Connect surface that issues access tokens,

    identity tokens, and refresh tokens for the Banno Consumer API,

    Admin API, and Plugin Framework. Implements the permissions flow

    used to enforce scopes on protected endpoints. Per the documentation:

    "Protect user data using industry standard OAuth 2.0 and OpenID

    Connect to provide authenticated information in the form of secure

    access and identity tokens."

    '
  version: v0
servers:
- url: https://api.banno.com
  description: Banno production
tags:
- name: Discovery
  description: OpenID Connect discovery and JWKS.
paths:
  /a/oidc/.well-known/openid-configuration:
    get:
      summary: Get OpenID Connect Discovery Document
      operationId: getDiscovery
      tags:
      - Discovery
      responses:
        '200':
          description: OIDC discovery document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discovery'
  /a/oidc/.well-known/jwks.json:
    get:
      summary: Get JWKS
      operationId: getJwks
      tags:
      - Discovery
      responses:
        '200':
          description: JSON Web Key Set used to validate ID tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jwks'
components:
  schemas:
    Discovery:
      type: object
      properties:
        issuer:
          type: string
          format: uri
        authorization_endpoint:
          type: string
          format: uri
        token_endpoint:
          type: string
          format: uri
        userinfo_endpoint:
          type: string
          format: uri
        jwks_uri:
          type: string
          format: uri
        response_types_supported:
          type: array
          items:
            type: string
        scopes_supported:
          type: array
          items:
            type: string
        grant_types_supported:
          type: array
          items:
            type: string
    Jwks:
      type: object
      properties:
        keys:
          type: array
          items:
            type: object
            properties:
              kid:
                type: string
              kty:
                type: string
              alg:
                type: string
              use:
                type: string
              n:
                type: string
              e:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
