openapi: 3.2.0
info:
  title: jXchange REST Loan Accounts API
  description: 'jXchange is Jack Henry''s information-translation surface that brokers

    requests between third-party applications and the SilverLake or

    CIF 20/20 community-bank cores. The REST variant exposes deposits,

    loans, customers, accounts, transactions, and general-ledger domains.

    A SOAP variant is also published at jackhenry.dev/jxchange-soap/.

    '
  version: '2024'
servers:
- url: https://jxchange.jackhenry.com
  description: jXchange production gateway
security:
- bearerAuth: []
tags:
- name: Loan Accounts
  description: Consumer and commercial loans.
paths:
  /jxchange/v1/loan-accounts/{accountNumber}:
    get:
      summary: Get Loan Account
      operationId: getLoanAccount
      tags:
      - Loan Accounts
      parameters:
      - name: accountNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Loan-account record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanAccount'
components:
  schemas:
    LoanAccount:
      type: object
      properties:
        accountNumber:
          type: string
        product:
          type: string
        loanType:
          type: string
          enum:
          - Mortgage
          - HELOC
          - Auto
          - Consumer
          - Commercial
          - SBA
        status:
          type: string
          enum:
          - Current
          - PastDue
          - ChargedOff
          - PaidOff
        originalAmount:
          type: number
          format: double
        currentBalance:
          type: number
          format: double
        interestRate:
          type: number
          format: double
        nextPaymentAmount:
          type: number
          format: double
        nextPaymentDate:
          type: string
          format: date
        maturityDate:
          type: string
          format: date
        primaryOwnerCustomerId:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
