openapi: 3.0.3
info:
  title: Banno Admin Abilities Zelle API
  description: 'Back-office administration surface used by the Banno staff console

    itself. Lets institutions look up abilities/feature flags, manage

    consumer/business users, configure plugin management, manage

    segments and ads, run reports, drive RDC, ACH, wires, Zelle, and

    high-risk actions, and administer OAuth/OpenID clients.


    Resource groups (documented at

    https://banno.github.io/open-api-docs/admin-api/api-reference/v0/):

    Abilities, Accounts, ACH, Alerts, Consumers, Contact Info,

    Documents, Forms, High-Risk Actions, History, Institution Offline

    Status, Marketing/Ads, Messages, OAuth and OpenID Connect, Plugin

    Management, Remote Deposit Capture, Reports, Routing Numbers,

    Segments, Transfer Settings, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Zelle
  description: Zelle peer-to-peer payments.
paths:
  /a/consumer/api/v0/users/{userId}/zelle/payments:
    post:
      summary: Send Zelle Payment
      operationId: sendZellePayment
      tags:
      - Zelle
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/zelle.write
      parameters:
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZellePaymentRequest'
      responses:
        '201':
          description: Zelle payment submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZellePayment'
components:
  schemas:
    ZellePaymentRequest:
      type: object
      required:
      - fromAccountId
      - recipientToken
      - amount
      properties:
        fromAccountId:
          type: string
          format: uuid
        recipientToken:
          type: string
          description: Email or phone number
        amount:
          type: number
        memo:
          type: string
    ZellePayment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fromAccountId:
          type: string
          format: uuid
        recipientToken:
          type: string
        amount:
          type: number
        memo:
          type: string
        status:
          type: string
          enum:
          - Pending
          - Sent
          - Delivered
          - Failed
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: ID of the desired user (UUID format).
      schema:
        type: string
        format: uuid
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
