openapi: 3.0.3
info:
  title: Banno Admin Abilities Bill Payments API
  description: 'Back-office administration surface used by the Banno staff console

    itself. Lets institutions look up abilities/feature flags, manage

    consumer/business users, configure plugin management, manage

    segments and ads, run reports, drive RDC, ACH, wires, Zelle, and

    high-risk actions, and administer OAuth/OpenID clients.


    Resource groups (documented at

    https://banno.github.io/open-api-docs/admin-api/api-reference/v0/):

    Abilities, Accounts, ACH, Alerts, Consumers, Contact Info,

    Documents, Forms, High-Risk Actions, History, Institution Offline

    Status, Marketing/Ads, Messages, OAuth and OpenID Connect, Plugin

    Management, Remote Deposit Capture, Reports, Routing Numbers,

    Segments, Transfer Settings, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Bill Payments
  description: Consumer and small-business bill pay.
paths:
  /payments/v1/bill-pay/payments:
    post:
      summary: Submit Bill Payment
      operationId: submitBillPayment
      tags:
      - Bill Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillPaymentRequest'
      responses:
        '201':
          description: Bill payment scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPayment'
components:
  schemas:
    BillPaymentRequest:
      type: object
      required:
      - payerAccountId
      - payeeId
      - amount
      - dueDate
      properties:
        payerAccountId:
          type: string
        payeeId:
          type: string
        amount:
          type: number
          format: double
        dueDate:
          type: string
          format: date
        memo:
          type: string
    BillPayment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        deliveryMethod:
          type: string
          enum:
          - Electronic
          - Check
        estimatedDeliveryDate:
          type: string
          format: date
        status:
          type: string
          enum:
          - Scheduled
          - Processing
          - Delivered
          - Failed
          - Cancelled
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
