openapi: 3.2.0
info:
  title: Jack Henry Payments Payments Orchestrator API
  description: 'Jack Henry Payments developer portal — described as "Everything you

    need to simplify and seamlessly make, take, and manage payments."

    Unifies ACH origination, wire / A2A payments, Bill Payments, Remote

    Deposit Capture (consumer + commercial), card acceptance, and

    peer-to-peer rails behind a single sandbox-equipped developer surface.

    The Payments Orchestrator routes across rails and supports virtual

    accounts.

    '
  version: v1
servers:
- url: https://api.payments.jackhenry.com
  description: Jack Henry Payments production
- url: https://api.payments.sandbox.jackhenry.com
  description: Jack Henry Payments sandbox
security:
- bearerAuth: []
tags:
- name: Payments Orchestrator
  description: Cross-rail routing and virtual accounts.
paths:
  /payments/v1/orchestrator/payments:
    post:
      summary: Route Payment Through Orchestrator
      operationId: routePayment
      tags:
      - Payments Orchestrator
      description: 'Submit a single payment intent; the Orchestrator selects the

        appropriate rail (ACH, Wire, Card, RTP) based on cost, speed,

        and policy.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrchestratorRequest'
      responses:
        '201':
          description: Payment routed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrchestratorResult'
components:
  schemas:
    OrchestratorResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        chosenRail:
          type: string
          enum:
          - ACH
          - Wire
          - Card
          - RTP
          - Zelle
        status:
          type: string
          enum:
          - Routed
          - Pending
          - Failed
        downstreamId:
          type: string
    OrchestratorRequest:
      type: object
      required:
      - originatorAccountId
      - beneficiary
      - amount
      properties:
        originatorAccountId:
          type: string
        beneficiary:
          type: object
          properties:
            name:
              type: string
            accountNumber:
              type: string
            routingNumber:
              type: string
            email:
              type: string
            phone:
              type: string
        amount:
          type: number
          format: double
        currency:
          type: string
          default: USD
        speed:
          type: string
          enum:
          - SameDay
          - NextDay
          - Standard
          - Instant
        memo:
          type: string
        policyHints:
          type: object
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
