openapi: 3.0.3
info:
  title: Banno Admin Abilities Consumers API
  description: 'Back-office administration surface used by the Banno staff console

    itself. Lets institutions look up abilities/feature flags, manage

    consumer/business users, configure plugin management, manage

    segments and ads, run reports, drive RDC, ACH, wires, Zelle, and

    high-risk actions, and administer OAuth/OpenID clients.


    Resource groups (documented at

    https://banno.github.io/open-api-docs/admin-api/api-reference/v0/):

    Abilities, Accounts, ACH, Alerts, Consumers, Contact Info,

    Documents, Forms, High-Risk Actions, History, Institution Offline

    Status, Marketing/Ads, Messages, OAuth and OpenID Connect, Plugin

    Management, Remote Deposit Capture, Reports, Routing Numbers,

    Segments, Transfer Settings, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Consumers
  description: Consumer account administration.
paths:
  /a/mobile/api/v0/institutions/{institutionId}/consumers:
    get:
      summary: List Consumers
      operationId: listConsumers
      tags:
      - Consumers
      parameters:
      - $ref: '#/components/parameters/InstitutionId'
      - name: search
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Paged consumer list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  consumers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consumer'
                  nextCursor:
                    type: string
                    nullable: true
  /a/mobile/api/v0/institutions/{institutionId}/consumers/{consumerId}:
    get:
      summary: Get Consumer
      operationId: getConsumer
      tags:
      - Consumers
      parameters:
      - $ref: '#/components/parameters/InstitutionId'
      - $ref: '#/components/parameters/ConsumerId'
      responses:
        '200':
          description: Consumer profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
  /a/mobile/api/v0/institutions/{institutionId}/consumers/{consumerId}/contact-info:
    put:
      summary: Update Consumer Contact Info
      operationId: updateContactInfo
      tags:
      - Consumers
      parameters:
      - $ref: '#/components/parameters/InstitutionId'
      - $ref: '#/components/parameters/ConsumerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactInfo'
      responses:
        '200':
          description: Updated contact info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInfo'
components:
  schemas:
    Consumer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        status:
          type: string
          enum:
          - Active
          - Locked
          - Suspended
          - Deleted
        enrolledDate:
          type: string
          format: date-time
    ContactInfo:
      type: object
      properties:
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: object
          properties:
            line1:
              type: string
            line2:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
  parameters:
    InstitutionId:
      name: institutionId
      in: path
      required: true
      description: UUID identifying the institution.
      schema:
        type: string
        format: uuid
    ConsumerId:
      name: consumerId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
