openapi: 3.2.0
info:
  title: Jack Henry Wire Transfers API
  version: '1.0'
  description: 'Operations tagged Wire Transfers across 2 of this provider''s published API definitions: banno-consumer-api-openapi.yml, jack-henry-payments-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.banno.com
  description: Banno production
- url: https://api.payments.jackhenry.com
  description: Jack Henry Payments production
- url: https://api.payments.sandbox.jackhenry.com
  description: Jack Henry Payments sandbox
tags:
- name: Wire Transfers
  description: Outbound wire requests.
paths:
  /a/consumer/api/v0/users/{userId}/wire-transfers:
    post:
      summary: Create Wire Transfer
      operationId: createWireTransfer
      tags:
      - Wire Transfers
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/wire-transfers.write
      parameters:
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireTransferRequest'
      responses:
        '201':
          description: Wire submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireTransfer'
    servers:
    - url: https://api.banno.com
      description: Banno production
  /payments/v1/wires:
    post:
      summary: Send Wire
      operationId: sendWire
      tags:
      - Wire Transfers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireRequest'
      responses:
        '201':
          description: Wire submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wire'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.payments.jackhenry.com
      description: Jack Henry Payments production
    - url: https://api.payments.sandbox.jackhenry.com
      description: Jack Henry Payments sandbox
components:
  schemas:
    WireTransfer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fromAccountId:
          type: string
          format: uuid
        beneficiaryName:
          type: string
        beneficiaryAccountNumber:
          type: string
        beneficiaryBankRoutingNumber:
          type: string
        amount:
          type: number
        currency:
          type: string
        status:
          type: string
          enum:
          - Pending
          - Processing
          - Sent
          - Failed
          - Cancelled
    WireTransferRequest:
      type: object
      required:
      - fromAccountId
      - beneficiaryName
      - beneficiaryAccountNumber
      - beneficiaryBankRoutingNumber
      - amount
      properties:
        fromAccountId:
          type: string
          format: uuid
        beneficiaryName:
          type: string
        beneficiaryAccountNumber:
          type: string
        beneficiaryBankRoutingNumber:
          type: string
        amount:
          type: number
        currency:
          type: string
          default: USD
        memo:
          type: string
    WireRequest:
      type: object
      required:
      - originatorAccountId
      - beneficiaryName
      - beneficiaryAccountNumber
      - beneficiaryRoutingNumber
      - amount
      properties:
        originatorAccountId:
          type: string
        beneficiaryName:
          type: string
        beneficiaryAccountNumber:
          type: string
        beneficiaryRoutingNumber:
          type: string
          pattern: ^[0-9]{9}$
        amount:
          type: number
          format: double
        currency:
          type: string
          default: USD
        memo:
          type: string
    Wire:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - Pending
          - Processing
          - Sent
          - Failed
          - Cancelled
        imadOmad:
          type: string
          description: Federal Reserve IMAD/OMAD reference
        amount:
          type: number
        sentAt:
          type:
          - string
          - 'null'
          format: date-time
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: ID of the desired user (UUID format).
      schema:
        type: string
        format: uuid
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- banno-consumer-api-openapi.yml
- jack-henry-payments-openapi.yml
