openapi: 3.2.0
info:
  title: jXchange REST Customers API
  description: 'jXchange is Jack Henry''s information-translation surface that brokers

    requests between third-party applications and the SilverLake or

    CIF 20/20 community-bank cores. The REST variant exposes deposits,

    loans, customers, accounts, transactions, and general-ledger domains.

    A SOAP variant is also published at jackhenry.dev/jxchange-soap/.

    '
  version: '2024'
servers:
- url: https://jxchange.jackhenry.com
  description: jXchange production gateway
security:
- bearerAuth: []
tags:
- name: Customers
  description: Customer (CIF) records.
paths:
  /jxchange/v1/customers:
    get:
      summary: Search Customers
      operationId: searchCustomers
      tags:
      - Customers
      parameters:
      - name: ssn
        in: query
        schema:
          type: string
      - name: lastName
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Customer matches.
          content:
            application/json:
              schema:
                type: object
                properties:
                  customers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  nextCursor:
                    type:
                    - string
                    - 'null'
  /jxchange/v1/customers/{customerId}:
    get:
      summary: Get Customer
      operationId: getCustomer
      tags:
      - Customers
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Customer record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
components:
  schemas:
    Customer:
      type: object
      properties:
        customerId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        ssnLast4:
          type: string
        dateOfBirth:
          type: string
          format: date
        primaryAddress:
          type: object
          properties:
            line1:
              type: string
            line2:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
        primaryPhone:
          type: string
        primaryEmail:
          type: string
          format: email
        relationshipOpenDate:
          type: string
          format: date
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
