openapi: 3.2.0
info:
  title: Banno Consumer Alerts API
  description: 'Build apps and services using the same Consumer API that powers Banno

    Mobile and Online.'
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
    url: https://www.jackhenry.com/legal/terms-of-use
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Alerts
  description: Account and security alerts.
paths:
  /a/consumer/api/v0/users/{userId}/alerts:
    get:
      summary: List Alerts
      operationId: listAlerts
      tags:
      - Alerts
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/alerts.readonly
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Alerts configured by the user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alert'
components:
  schemas:
    Alert:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - BalanceLow
          - BalanceHigh
          - LargeWithdrawal
          - LargeDeposit
          - CardActivity
          - LoginActivity
        channels:
          type: array
          items:
            type: string
            enum:
            - Email
            - SMS
            - Push
            - InApp
        threshold:
          type: number
        enabled:
          type: boolean
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: ID of the desired user (UUID format).
      schema:
        type: string
        format: uuid
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
