openapi: 3.0.3
info:
  title: Banno Admin Abilities Institution Offline Status API
  description: 'Back-office administration surface used by the Banno staff console

    itself. Lets institutions look up abilities/feature flags, manage

    consumer/business users, configure plugin management, manage

    segments and ads, run reports, drive RDC, ACH, wires, Zelle, and

    high-risk actions, and administer OAuth/OpenID clients.


    Resource groups (documented at

    https://banno.github.io/open-api-docs/admin-api/api-reference/v0/):

    Abilities, Accounts, ACH, Alerts, Consumers, Contact Info,

    Documents, Forms, High-Risk Actions, History, Institution Offline

    Status, Marketing/Ads, Messages, OAuth and OpenID Connect, Plugin

    Management, Remote Deposit Capture, Reports, Routing Numbers,

    Segments, Transfer Settings, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Institution Offline Status
  description: Drive scheduled or emergency offline modes.
paths:
  /a/mobile/api/v0/institutions/{institutionId}/offline-mode:
    put:
      summary: Set Institution Offline Status
      operationId: setOfflineMode
      tags:
      - Institution Offline Status
      parameters:
      - $ref: '#/components/parameters/InstitutionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineStatus'
      responses:
        '200':
          description: Offline status updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfflineStatus'
components:
  parameters:
    InstitutionId:
      name: institutionId
      in: path
      required: true
      description: UUID identifying the institution.
      schema:
        type: string
        format: uuid
  schemas:
    OfflineStatus:
      type: object
      properties:
        offline:
          type: boolean
        scheduledStart:
          type: string
          format: date-time
          nullable: true
        scheduledEnd:
          type: string
          format: date-time
          nullable: true
        message:
          type: string
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
