openapi: 3.0.3
info:
  title: Banno Admin Abilities Remote Deposit Capture API
  description: 'Back-office administration surface used by the Banno staff console

    itself. Lets institutions look up abilities/feature flags, manage

    consumer/business users, configure plugin management, manage

    segments and ads, run reports, drive RDC, ACH, wires, Zelle, and

    high-risk actions, and administer OAuth/OpenID clients.


    Resource groups (documented at

    https://banno.github.io/open-api-docs/admin-api/api-reference/v0/):

    Abilities, Accounts, ACH, Alerts, Consumers, Contact Info,

    Documents, Forms, High-Risk Actions, History, Institution Offline

    Status, Marketing/Ads, Messages, OAuth and OpenID Connect, Plugin

    Management, Remote Deposit Capture, Reports, Routing Numbers,

    Segments, Transfer Settings, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Remote Deposit Capture
  description: Consumer and commercial RDC.
paths:
  /payments/v1/rdc/deposits:
    post:
      summary: Submit Remote Deposit
      operationId: submitRemoteDeposit
      tags:
      - Remote Deposit Capture
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - accountNumber
              - amount
              - frontImage
              - backImage
              properties:
                accountNumber:
                  type: string
                amount:
                  type: number
                  format: double
                frontImage:
                  type: string
                  format: binary
                backImage:
                  type: string
                  format: binary
      responses:
        '201':
          description: RDC deposit accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RdcDeposit'
components:
  schemas:
    RdcDeposit:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - Pending
          - Accepted
          - Rejected
          - Held
        availableDate:
          type: string
          format: date
        amount:
          type: number
          format: double
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
