openapi: 3.2.0
info:
  title: Jack Henry Payments Peer To Peer API
  description: 'Jack Henry Payments developer portal — described as "Everything you

    need to simplify and seamlessly make, take, and manage payments."

    Unifies ACH origination, wire / A2A payments, Bill Payments, Remote

    Deposit Capture (consumer + commercial), card acceptance, and

    peer-to-peer rails behind a single sandbox-equipped developer surface.

    The Payments Orchestrator routes across rails and supports virtual

    accounts.

    '
  version: v1
servers:
- url: https://api.payments.jackhenry.com
  description: Jack Henry Payments production
- url: https://api.payments.sandbox.jackhenry.com
  description: Jack Henry Payments sandbox
security:
- bearerAuth: []
tags:
- name: Peer To Peer
  description: P2P transfers via partner networks.
paths:
  /payments/v1/p2p/transfers:
    post:
      summary: Send Peer To Peer Transfer
      operationId: sendP2P
      tags:
      - Peer To Peer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2PRequest'
      responses:
        '201':
          description: P2P transfer submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2PTransfer'
components:
  schemas:
    P2PRequest:
      type: object
      required:
      - senderAccountId
      - recipientToken
      - amount
      properties:
        senderAccountId:
          type: string
        recipientToken:
          type: string
          description: Email or phone number
        amount:
          type: number
          format: double
        network:
          type: string
          enum:
          - Zelle
          - RTP
        memo:
          type: string
    P2PTransfer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - Pending
          - Sent
          - Delivered
          - Failed
        network:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
