openapi: 3.0.3
info:
  title: Banno Admin Abilities Payments Orchestrator API
  description: 'Back-office administration surface used by the Banno staff console

    itself. Lets institutions look up abilities/feature flags, manage

    consumer/business users, configure plugin management, manage

    segments and ads, run reports, drive RDC, ACH, wires, Zelle, and

    high-risk actions, and administer OAuth/OpenID clients.


    Resource groups (documented at

    https://banno.github.io/open-api-docs/admin-api/api-reference/v0/):

    Abilities, Accounts, ACH, Alerts, Consumers, Contact Info,

    Documents, Forms, High-Risk Actions, History, Institution Offline

    Status, Marketing/Ads, Messages, OAuth and OpenID Connect, Plugin

    Management, Remote Deposit Capture, Reports, Routing Numbers,

    Segments, Transfer Settings, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Payments Orchestrator
  description: Cross-rail routing and virtual accounts.
paths:
  /payments/v1/orchestrator/payments:
    post:
      summary: Route Payment Through Orchestrator
      operationId: routePayment
      tags:
      - Payments Orchestrator
      description: 'Submit a single payment intent; the Orchestrator selects the

        appropriate rail (ACH, Wire, Card, RTP) based on cost, speed,

        and policy.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrchestratorRequest'
      responses:
        '201':
          description: Payment routed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrchestratorResult'
components:
  schemas:
    OrchestratorResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        chosenRail:
          type: string
          enum:
          - ACH
          - Wire
          - Card
          - RTP
          - Zelle
        status:
          type: string
          enum:
          - Routed
          - Pending
          - Failed
        downstreamId:
          type: string
    OrchestratorRequest:
      type: object
      required:
      - originatorAccountId
      - beneficiary
      - amount
      properties:
        originatorAccountId:
          type: string
        beneficiary:
          type: object
          properties:
            name:
              type: string
            accountNumber:
              type: string
            routingNumber:
              type: string
            email:
              type: string
            phone:
              type: string
        amount:
          type: number
          format: double
        currency:
          type: string
          default: USD
        speed:
          type: string
          enum:
          - SameDay
          - NextDay
          - Standard
          - Instant
        memo:
          type: string
        policyHints:
          type: object
          additionalProperties: true
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
