openapi: 3.2.0
info:
  title: Banno Consumer Transfers API
  description: 'Build apps and services using the same Consumer API that powers Banno

    Mobile and Online. OAuth 2.0 / OpenID Connect protects every endpoint;

    scopes are enforced per resource (e.g. `user.profile.readonly`,

    `transactions.detail.readonly`). All endpoints are scoped under

    `/a/consumer/api/v0` and operate within the context of a `userId`.


    Resource groups documented at

    https://banno.github.io/open-api-docs/consumer-api/api-reference/v0/

    include: Abilities, Account Aggregation, Accounts, ACH, Alerts,

    Bill Pay, Cards, Documents and Statements, Forms, Institutions,

    Messages, OAuth and OpenID Connect, Positive Pay, Routing Numbers,

    Task Events, Transactions, Transfers, User, Wire Transfers, and Zelle.

    '
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
    url: https://www.jackhenry.com/legal/terms-of-use
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Transfers
  description: Account-to-account and external transfers.
paths:
  /a/consumer/api/v0/users/{userId}/transfers:
    get:
      summary: List Transfers
      operationId: listTransfers
      tags:
      - Transfers
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/transfers.readonly
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Scheduled and historical transfers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  transfers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transfer'
    post:
      summary: Create Transfer
      operationId: createTransfer
      tags:
      - Transfers
      security:
      - openIdConnect:
        - https://api.banno.com/consumer/auth/transfers.write
      parameters:
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
      responses:
        '201':
          description: Transfer created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
components:
  schemas:
    Transfer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fromAccountId:
          type: string
          format: uuid
        toAccountId:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        scheduledDate:
          type: string
          format: date
        frequency:
          type: string
          enum:
          - OneTime
          - Weekly
          - BiWeekly
          - Monthly
        status:
          type: string
          enum:
          - Scheduled
          - Processing
          - Complete
          - Failed
          - Cancelled
        memo:
          type: string
    TransferRequest:
      type: object
      required:
      - fromAccountId
      - toAccountId
      - amount
      properties:
        fromAccountId:
          type: string
          format: uuid
        toAccountId:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        scheduledDate:
          type: string
          format: date
        frequency:
          type: string
        memo:
          type: string
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: ID of the desired user (UUID format).
      schema:
        type: string
        format: uuid
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
