openapi: 3.2.0
info:
  title: Banno Admin Institution Offline Status API
  description: 'Back-office administration surface used by the Banno staff console

    itself.'
  version: v0
  contact:
    name: Jack Henry Developer Support
    url: https://jackhenry.dev/support/
  license:
    name: Proprietary
servers:
- url: https://api.banno.com
  description: Banno production
security:
- openIdConnect: []
tags:
- name: Institution Offline Status
  description: Drive scheduled or emergency offline modes.
paths:
  /a/mobile/api/v0/institutions/{institutionId}/offline-mode:
    put:
      summary: Set Institution Offline Status
      operationId: setOfflineMode
      tags:
      - Institution Offline Status
      parameters:
      - $ref: '#/components/parameters/InstitutionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineStatus'
      responses:
        '200':
          description: Offline status updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfflineStatus'
components:
  schemas:
    OfflineStatus:
      type: object
      properties:
        offline:
          type: boolean
        scheduledStart:
          type:
          - string
          - 'null'
          format: date-time
        scheduledEnd:
          type:
          - string
          - 'null'
          format: date-time
        message:
          type: string
  parameters:
    InstitutionId:
      name: institutionId
      in: path
      required: true
      description: UUID identifying the institution.
      schema:
        type: string
        format: uuid
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://api.banno.com/a/oidc/.well-known/openid-configuration
